.resume-page-container {
  width: 794px; /* A4 width in pixels */
  height: 1123px; /* A4 height in pixels */
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
  margin: auto;
  font-family: Arial, sans-serif;
}
  
.resume-page-container h1 {
  text-align: center;
}

.resume-page-container section {
  margin-bottom: 20px;
}

.resume-page-container ul {
  list-style-type: none;
  padding: 0;
}

.resume-page-container li {
  margin-bottom: 10px;
}
  